.ce-countdown--theme-4 {
	background: #036362;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 60px;
	font-weight: 300;
	min-height: 90px;
	padding: 30px;
	text-align: center;
	text-transform: lowercase;
}

.ce-countdown--theme-4 span {
	font-weight: 900;
}

@media all and (max-width: 730px) {
	.ce-countdown--theme-4 {
		font-size: 30px;
	}
}

/* Theme 6 ----------------------------------------------------------------- */

.ce-countdown--theme-6 {
	background: rgba(3, 99, 98, 0.81);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 0;
	font-weight: 800;
	padding: 30px;
	text-align: center;
}

.ce-countdown--theme-6 .ce-col {
	display: inline-block;
	font-size: 24px;
	margin: 0 0 0 4.513888888889%;
	width: 30.324074074074%;
}

.ce-countdown--theme-6 .ce-col:first-child {
	margin: 0;
}

.ce-countdown--theme-6 .ce-hours,
.ce-countdown--theme-6 .ce-minutes,
.ce-countdown--theme-6 .ce-seconds {
	color: #fff;
	display: block;
	font-size: 46px;
	font-weight: 300;
	height: 66px;
	line-height: 66px;
	margin-bottom: 10px;
}

html:not([class*='ce-ie']) .ce-countdown--theme-6 .ce-hours,
html:not([class*='ce-ie']) .ce-countdown--theme-6 .ce-minutes,
html:not([class*='ce-ie']) .ce-countdown--theme-6 .ce-seconds {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

.ce-countdown--theme-6 .ce-flip-wrap {
	position: relative;
}

html:not([class*='ce-ie']) .ce-countdown--theme-6 .ce-flip-wrap {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	transition: 0s;
}

html:not([class*='ce-ie']) .ce-countdown--theme-6 .ce-animate .ce-flip-wrap {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	transition: 0.6s;
}

.ce-countdown--theme-6 .ce-flip-wrap .ce-flip-front,
.ce-countdown--theme-6 .ce-flip-wrap .ce-flip-back {
	background: #00bfa0;
	height: 66px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

html:not([class*='ce-ie']) .ce-countdown--theme-6 .ce-flip-wrap .ce-flip-front,
html:not([class*='ce-ie']) .ce-countdown--theme-6 .ce-flip-wrap .ce-flip-back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

html:not([class*='ce-ie']) .ce-countdown--theme-6 .ce-flip-wrap .ce-flip-back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

@media all and (max-width: 560px) {
	.ce-countdown--theme-6 .ce-col {
		font-size: 12px;
	}

	.ce-countdown--theme-6 .ce-hours,
	.ce-countdown--theme-6 .ce-minutes,
	.ce-countdown--theme-6 .ce-seconds {
		color: #fff;
		display: block;
		font-size: 24px;
		height: 40px;
		line-height: 40px;
	}

	.ce-countdown--theme-6 .ce-col {
		margin: 0 2% 0;
	}

	.ce-countdown--theme-6 .ce-flip-wrap .ce-flip-front,
	.ce-countdown--theme-6 .ce-flip-wrap .ce-flip-back {
		height: 40px;
	}
}